body{
   margin:0;
   height:100%;
   font-family: "Open Sans";
}

header{
   background-color: #455A64;
   margin: 0;
   padding: 1.2em 0em;
   width: 100%;
   text-align: center;
   font-family: 'Nunito', sans-serif;
   color: #CFD8DC;
}

#preferences-button{
   cursor: pointer;
   width: 40px;
   height: 40px;
   position: absolute;
   right: 25px;
   top: 25px;
   -webkit-user-select: none;
   -webkit-app-region: nodrag;
}

header .title{
   margin: 0;
   font-size: 2.25em;
   font-weight: 100;
   -webkit-user-select: none;
   cursor: default;
}

#draggable-topbar{
   width: 100%;
   height: 20px;
   position: fixed;
   -webkit-user-select: none;
   -webkit-app-region: drag;
}

#bottombar{
   position: fixed;
   bottom: 0px;
   width: 100%;
   text-align: center;
   padding: 0.2em;
   transition-duration: 1s;
   transition-timing-function: ease-in-out;
   background-color: #37474F;
}

#bottombar p{
   margin: auto;
   font-size: 1em;
   font-weight: 200;
   transition-duration: 1s;
   transition-timing-function: ease-in-out;
   color: #B0BEC5;
   -webkit-user-select: none;
   cursor: default;
}

#shadowcover{
   background-color: black;
   top: 0px;
   height: 100%;
   width: 100%;
   display: none;
   position: fixed;
   opacity: 0;
}

.preferences-pane{
   min-height: 425px;
   min-width: 330px;
   width: 70%;
   display: none;
   position: fixed;
   border-radius: 15px;
   top: 1250px;
   left: 0;
   right: 0;
   bottom: 0;
   margin: auto;
   height: 70%;
   background-color: #639DFF;
}



.preferences-pane .top{
   background-color: #82B1FF;
   margin: auto;
   padding: 0.8em;
   border-radius: 15px 15px 0 0;
}

.preferences-pane .top-inner{
   margin: auto;
   background-color: #448AFF;
   padding: 0.35em;
   text-align: center;
   width: 10em;
   border-radius: 10px;
}

.preferences-pane .top-inner p{
   font-family: "Nunito";
   font-weight: 300;
   color: #E3F2FD;
   font-size: 1.5em;
   margin: 0;
}

.preferences-pane .bottom{
   bottom: 0px;
   left: 0px;
   right: 0px;
   margin: auto;
   position: absolute;
   border-radius: 0 0 15px 15px;
   background-color: #82B1FF;
   padding: 0.83em;
}

.preferences-pane .bottom table{
   margin: 0 auto;
}

.preferences-pane .bottom td{
   padding: 0 5px;
}

.preferences-pane .bottom button{
   border-radius: 10px;
   padding: 3px 15px;
   width: 100px;
   border: 0;
   color: white;
   background-color: darkGrey;
   font-family: "Nunito";
   font-size: 1.1em;
   font-weight: 300;
   cursor: pointer;
   transition-duration: 0.3s;
}

.preferences-pane .bottom button:focus {
   outline:0;
}

.preferences-pane .bottom button.save{
   background-color: #E3F2FD;
   color: #448AFF;
}

.preferences-pane .bottom button.save:hover{
   background-color: #99CBFE;
}

.preferences-pane .bottom button.cancel{
   background-color: #FFEBEE;
   color: #E57373;
}

.preferences-pane .bottom button.cancel:hover{
   background-color: #F8BBC4;
}

.preferences-pane .body{
   position: absolute;
   font-family: "Open Sans";
   overflow-y: scroll;
   box-sizing: border-box;
   top: 68.78px;
   height: auto;
   bottom: 60.53px;
}

.preferences-pane .body .emailsection{
   background-color: #375E9F;
}

.preferences-pane .body h1{
   margin:0;
   font-size: 1.3em;
   font-weight: 500;
   color: #E3F2FD;
}

.preferences-pane .body td{
   padding: 15px 15px 5px 15px;
}

.preferences-pane .body p{
   margin:0;
   font-size: 1.1em;
   font-weight: 300;
   color: #C9DEFF;
}

.preferences-pane .body .content-organizer{
   left: 0;
   right: 0;
   width: 100%;
   margin: auto;
   padding: 0;
}

.preferences-pane .body .content-organizer tr{
   margin: auto;
   border: 0;
   padding: 0;
}

.preferences-pane .body .content-organizer td{
   padding: 6px 2px ;
   margin: 0;
   width: 100%;
   max-width: 100px;
}

.file-selector-info{
   white-space: nowrap;
   background-color: #4C81DA;
   border-radius: 13px;
   padding: 6.5px 5px;
   left: 0;
   right: 0;
   margin: auto;
   overflow-x: scroll;
   text-align: center;
   direction: rtl;
   color: #8CB9FF;
}

.file-select-button{
   cursor: pointer;
   background-color: #F6F9FF;
   color: #6399F2;
   font-family: "Nunito";
   font-weight: 300;
   font-size: 1.25em;
   padding: 5px 20px;
   border-radius: 13px;
   border: 0;
   margin: 0;
   transition-duration: 0.3s;
}

.file-select-button:focus{
   outline:0;
}

.file-select-button:hover{
   background-color: #C1D8FF;
}

.dropdown-form{
   top: 6px;
   text-align: center;
   position: relative;
   display: block;
   margin: 0;
}

.dropdown-form-2{
   top: 6px;
   text-align: center;
   position: relative;
   display: block;
   margin: 0;
}

.dropdown-form-2 select{
   text-indent: 10px;
   font-family: "Nunito";
   color: #C0D9FB;
   font-weight: 400;
   overflow: hidden;
   font-size: 1.25em;
   padding: 5px;
   border-radius: 10px;
   cursor: pointer;
   border: 0;
   width: 100%;
   -webkit-appearance: none;
   background-color: #4386F8;
   transition-duration: 0.3s;
}

.dropdown-form select{
   text-indent: 10px;
   font-family: "Nunito";
   color: #C0D9FB;
   font-weight: 400;
   overflow: hidden;
   font-size: 1.25em;
   padding: 5px;
   border-radius: 10px;
   cursor: pointer;
   border: 0;
   width: 100%;
   -webkit-appearance: none;
   background-color: #4386F8;
   transition-duration: 0.3s;
}

.dropdown-form select:hover{
   background-color: #3677E5;
}

.dropdown-form select:focus{
   outline: 0;
}

.dropdown-form-2 img{
   position: absolute;
   right: 12px;
   top: 9px;
   width: 17.5px;
   height: 17.5px;
}

.dropdown-form-2 select:hover{
   background-color: #3677E5;
}

.dropdown-form-2 select:focus{
   outline: 0;
}

.dropdown-form img{
   position: absolute;
   right: 12px;
   top: 9px;
   width: 17.5px;
   height: 17.5px;
}

#minispacer{
   height: 6.5px;
}

#mediumspacer{
   height: 15px;
}

.preferences-pane #mainprefsec::-webkit-scrollbar{
   width: 12px;
   background-color: #314C79;
}

.preferences-pane #mainprefsec::-webkit-scrollbar-thumb{
   border-radius: 10px;
   background-color: #8EB9FF;
}

.preferences-pane #mainprefsec::-webkit-scrollbar-track{
   border-radius: 10px;
   background-color: #314C79;
}


.content-organizer .file-selector-info::-webkit-scrollbar{
   height: 0px;
   background-color: #639DFF;
   opacity: 0;
   width: 10px;
}

.content-organizer .file-selector-info::-webkit-scrollbar-thumb{
   background-color: #455A7E;
}

.content-organizer .file-selector-info::-webkit-scrollbar-track{
   background-color: #639DFF;
   opacity: 0;
}

#no-file-selected{
   border-radius: 15px;
   position: absolute;
   top: 50%;
   left: 50%;
   margin-left: -162.5px;
   margin-top: -80px;
   background-color: #78909C;
   font-family: "Open Sans";
   width: 325px;
   height: 230px;
   box-sizing: border-box;
   padding: 25px 30px;
   display: none;
}

#no-file-selected h1{
   margin: 0;
   color: #ECEFF1;
   font-weight: 500;
   font-size: 1.3em;
   text-align: center;
}

#no-file-selected p{
   margin: 7px 0px;
   color: #CFD8DC;
   font-weight: 200;
   font-size: 1em;
}

.button-wrapper{
   text-align: center;
}

#no-file-selected button{
   position: relative;
   top: 15px;
   width: 150px;
   height: 55px;
   margin: auto;
   border: 0;
   border-radius: 12.5px;
   color: #6190DE;
   background-color: #BBDEFB;
   font-family: "Nunito";
   font-weight: 300;
   cursor: pointer;
   font-size: 1.2em;
   transition-duration: 0.5s;
}

#no-file-selected button:hover{
   color: #E2EDFF;
   background-color: #539FFF;
}

#no-file-selected button:focus{
   outline: 0;
}

div .name-selection{
}

div.name-selection .top{
   position: absolute;
   top: 110px;
   bottom: 115px;
   left: 0; right: 0;
   margin: auto;
   width: 75%;
   max-width: 350px;
   background-color: #78909C;
   border-radius: 13px;
   padding: 0;
}

div.name-selection .top .lowbar{
   position: absolute;
   border-radius: 0 0 13px 13px;
   background-color: #5A717D;
   border: 0;
   height: 40px;
   width: 100%;
   bottom: 0px;
   text-align: center;
}

div.name-selection .top .lowbar input{
   background-color: inherit;
   margin-top: 8px;
   border: 0;
   width: 92.5%;
   height: 60%;
   color: #CFD8DC;
   font-family: "Nunito";
   font-size: 1.1em;
   font-weight: 300;
}

div.name-selection .top .lowbar input.hidden{
   display:none;
}

div.name-selection .top .lowbar input::-webkit-input-placeholder{
   color: #8CA4AF;
   font-family: "Nunito";
   font-size: 1.1em;
   font-weight: 300;
   transition-duration: 0.7s
}

div.name-selection .top .lowbar input:hover::-webkit-input-placeholder{
   transition-duration: 0.3s;
   color: #A7BDC7;
}

div.name-selection .top .lowbar input:focus::-webkit-input-placeholder{
   color: #5A717D;
   transition-duration: 0.7s;
}

div.name-selection .top .lowbar input:focus{
   outline: 0;
}

div.name-selection .top .topbar{
   border-radius: 13px 13px 0 0;
   background-color: #BBCFD9;
   border: 0;
   width: 100%;
   text-align: center;
   margin: 0;
   padding: 6px 0px;
}

.name-selection .top h3{
   font-family: "Open Sans";
   color: #5C7F90;
   font-weight: 500;
   font-size: 1.2em;
   margin: 0;
   -webkit-user-select: none;
   cursor: default;
}

.name-selection .top ol{
   position: absolute;
   margin: 3px 0px 0px 13.5px;
   padding: 6px 0px 0px 0px;
   top: 36px;
   bottom: 40px;
   left: 0px; right: 0px;
   overflow-y: scroll;
   padding-bottom: 7.5px;
}

.name-selection .top ol::-webkit-scrollbar{
   width: 7.5px;
   background-color: #78909C;
}

.name-selection .top ol::-webkit-scrollbar-thumb{
   border-radius: 4px;
   background-color: #60757F;
}

.name-selection .top ol::-webkit-scrollbar-track{
   border-radius: 10px;
   background-color: #78909C;
}

.name-selection .top li{
   margin-top: 5px;
   margin-bottom: 1px;
   color: #A3CEF2;
   font-family: "Open Sans";
   font-weight: 400;
   font-size: 1.15em;
   transition-duration: 0.3s;
   cursor: pointer;
   transition-timing-function: ease-in-out;
   -webkit-user-select: none;
}

.name-selection .top li:hover{
   color: #FD7A83;
}

.name-selection .bottom button{
   position: absolute;
   left: 0; right: 0; bottom: 42.5px;
   margin: auto;
   width: 175px;
   height: 45px;
   border: 0;
   border-radius: 11px;
   font-family: "Nunito";
   font-size: 1.3em;
   font-weight: 400;
   cursor: pointer;
   transition-duration: 0.5s;
   transition-timing-function: ease;
   color: #5ABB7A;
   background-color: #ADEAC1;
}

.name-selection .bottom button:hover{
   background-color: #82D5CA;
   color: #D0FFF9;
}

.name-selection .bottom button:focus{
   outline: 0;
}

.name-selection .bottom button.button-disabled{
   background-color: #98CBA9;
   color: #7BB18D;
   cursor: default;
}

.action-done{
   color: #9FF5B0;
}

#buildability-placeholder img{
   position: absolute;
   top: 0;
   left: 0; right: 0;
   bottom: 0;
   opacity: 0.1;
   width: 175px;
   height: 175px;
   margin: auto;
   border-radius: 8px;
   transition-duration: 0.75s;
}

#buildability-placeholder img.transparent{
   opacity:0;
}

#select-all-client-names-button{
   position: absolute;
   width: 50px;
   height: 27.5px;
   right: 10px;
   bottom: 6.5px;
   border: 0;
   border-radius: 7px;
   background-color: #BBDEFB;
   color: #6190DE;
   transition-duration: 0.4s;
   transition-timing-function: ease-in-out;
   font-family: "Nunito";
   font-size: 1.1em;
   font-weight: 300;
   cursor: pointer;
   border: 0px;
}

#select-all-client-names-button:focus{
   outline: 0;
}

#select-all-client-names-button:hover{
   background-color: #739ADC;
   color:white;
}

#select-all-client-names-cancel{
   position: absolute;
   width: 50px;
   height: 27.5px;
   right: 10px;
   bottom: 6.5px;
   border: 0;
   border-radius: 7px;
   background-color: #FFABAB;
   color: #CF7272;
   transition-duration: 0.4s;
   transition-timing-function: ease-in-out;
   font-family: "Nunito";
   font-size: 1.1em;
   font-weight: 300;
   cursor: pointer;
   border: 0px;
   display: none;
}

#select-all-client-names-cancel:focus{
   outline: 0;
}

#select-all-client-names-cancel:hover{
   background-color: #FA7676;
   color: #FFC8C8;
}

.preferences-input-section{
   text-align: center;
}

.preferences-input-section input{
   width: 100%;
   height: 35px;
   border: 0px;
   border-radius: 7.5px;
   margin: 7.5px 0 0 0 ;
   overflow-x: scroll;
   background-color: #4386F8;
   color: #C0D9FB;
   transition-duration: 0.4s;
   text-indent: 10px;
   font-family: "Nunito";
   font-weight: 300;
   font-size: 1.2em;
}

.preferences-input-section input:hover{
   background-color: #3270DB;
}

.preferences-input-section input:focus{
   outline: 0;
}

.preferences-input-section input:focus:hover{
   background-color: #4386F8;
}

.preferences-input-section input::-webkit-input-placeholder{
   color: #77A9FF;
   transition-duration: 0.4s;
}

.preferences-input-section input:hover::-webkit-input-placeholder{
   transition-duration: 0.4s;
   color: #A9C8FE;
}

.preferences-input-section input:focus::-webkit-input-placeholder{
   color: #4386F8;
   transition-duration: 0.7s;
}

.preferences-textarea-section textarea{
   width: 100%;
   height: 200px;
   border: 0px;
   border-radius: 2px;
   margin: 7.5px 0 0 0 ;
   background-color: #4386F8;
   color: #C0D9FB;
   transition-duration: 0.4s;
   padding: 10px;
   font-family: "Nunito";
   font-weight: 300;
   font-size: 1.2em;
   overflow-y: scroll;
   box-sizing: border-box;
   resize: none;
}

.preferences-textarea-section textarea:hover{
   background-color: #3270DB;
}

.preferences-textarea-section textarea:focus{
   outline: 0;
}

.preferences-textarea-section textarea:focus:hover{
   background-color: #4386F8;
}

.preferences-textarea-section textarea::-webkit-input-placeholder{
   color: #77A9FF;
   transition-duration: 0.4s;
}

.preferences-textarea-section textarea:hover::-webkit-input-placeholder{
   transition-duration: 0.4s;
   color: #A9C8FE;
}

.preferences-textarea-section textarea:focus::-webkit-input-placeholder{
   color: #4386F8;
   transition-duration: 0.7s;
}

.preferences-textarea-section textarea::-webkit-scrollbar{
   width: 7.5px;
   background-color: #4386F8;
}

.preferences-textarea-section textarea::-webkit-scrollbar-thumb{
   border-radius: 4px;
   background-color: #C0D9FB;
}

.preferences-textarea-section textarea::-webkit-scrollbar-track{
   border-radius: 10px;
   background-color: #4386F8;
}
